server:
  replicas: 2

  service:
    type: ClusterIP

configs:
  params:
    server.insecure: false

  cm:
    application.instanceLabelKey: argocd.argoproj.io/instance

  rbac:
    policy.default: role:readonly
    policy.csv: |
      p, role:admin, applications, *, */*, allow
      g, admin, role:admin