name: Go CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: crypto_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.23.4
      id: go_ci

    - name: Install migrations
      run: | 
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.18.1/migrate.linux-amd64.tar.gz | tar xvz
        sudo mv migrate /usr/local/bin/
        chmod +x /usr/local/bin/migrate
        migrate --version

    - name: Run Migrations
      run: make migrateup

    - name: Run tests
      run: make test

    - name: Checkout GitOps Repository
      uses: actions/checkout@v4
      with:
        repository: ${{ secrets.USER_NAME }}/Continious-Delivery
        token: ${{ secrets.DELIVERY_REPO_TOKEN}}
        path: Continious-Delivery

    - name: Check Git Setup and Auth
      run: |
        cd Continious-Delivery

        pwd

        ls -l

        git config --list

        git remote -v

        git ls-remote origin

        git branch

        git status

    - name: Commit and push changes
      run: |
        cd Continious-Delivery

        git config user.name "${{ secrets.USER_NAME }}"
        git config user.email "${{ secrets.EMAIL }}"

        git remote set-url origin \
          https://${{ secrets.USER_NAME }}:${{ secrets.DELIVERY_REPO_TOKEN }}@github.com/${{ secrets.USER_NAME }}/Continious-Delivery.git

        git remote -v

        git add eks-chart/values.yaml
        git commit -m "deploy(crypto): image -> ${{ github.sha }}" || echo "No changes to commit"

        git push -u origin main